/* variables scss */

/* colors */
$primary-color: #c6538c;
$black-color: #000;

/* font-familys */

/* font-sizes */

/* screen-sizes */
$breakpoint-phone: 576px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;

/* grid-sizes */
$top-navbar-height: 62px;